<<<<<<< HEAD
.hayot__content {
      display: flex;
      align-items: center;
      align-content: end;
      justify-content: space-between;
}

.hayot__list {
      display: flex;
      gap: 64px;
}

.hayot__list a {
      color: #FFFFFF;
      text-decoration: none;

}

.btn {
      width: 120px;
      height: 44px;
      background-color: transparent;
      color: #FFFFFF;
      border: 2px solid white;
}

.hayot__nav {
      width: 100%;
      height: 100px;
      background-color: #0D263B;
}

.hayotbek__left {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 527px;
      height: 44px;
      border: 2px solid #E6E9EC;
}

.hayotbek__middle {
      display: flex;
      align-items: center;
      gap: 20px;
}

.cvc {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 131px;
      height: 44px;
      border: 2px solid #E6E9EC;
      padding-left: 10px;


}

.hayotbek__right {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 180px;
      height: 44px;
      background-color: #0061DF;
      border: 2px solid blue;
      padding-left: 40px;
      color: #FFFFFF;
}

.hayot__server {
      width: 100%;
      height: 100vh;
      background-image:linear-gradient(hsla(0, 0%, 0%, 0.622),hsla(0, 0%, 0%, 0.262)), url(../images/unsplash_2gDwlIim3Uw.png)  ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}

.hayotbek__content {
      display: flex;
      align-items: center;
      gap: 20px;
}

.h1 {
      font-size: 48px;
      color: #fff;
      text-align: center;
      padding-top: 130px;

}

.h2 {
      font-size: 24px;
      color: grey;
      text-align: center;
      padding-top: 10px;
}
.hammasi{
      display: flex;
      align-items: center;
      gap: 24px;
      padding-top: 50px;
      padding-left: 345px;
      color: #fff;
   
}
.dvd h1{
    font-weight: 100;
}
.bed{
      padding-left: 20px;
}
.bath{
      padding-left: 30px;
}
.car{
      padding-left: 30px;
}
.rease{
      padding-left: 30px;
}
.h5{
      color: #fff;
      font-size: 50px;
      padding-top: 200px;
      padding-left: 430px;
}
.btn__server{
      width: 180px;
      height: 44px;
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
      margin-top: 100px;
      margin-left: 460px;
}
=======
.abdugoffor {
     margin-top: 20px;
}

.abdugoffor__top {
     text-align: center;
}

.abdugoffor__top h1 {
     color: #0D263B;
     font-size: 28px;
     font-weight: 600;
     line-height: 36px;
     letter-spacing: -0.02em;
     text-align: center;
     padding-bottom: 10px;
}

.abdugoffor__top p {
     color: #696969;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     text-align: center;

}

.abdugoffor__cards {
     display: flex;
     gap: 20px;
}

.abdugoffor__card {
     width: 380px;
}

.abdugoffor__card .img85 {
     padding-left: 300px;
     padding-bottom: 10pxa;
}

.abdugoffor__card h2 {
     color: #0D263B;
     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     text-align: left;
     padding-bottom: 5px;
}

.abdugoffor__card p {
     color:  #696969;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     padding-bottom: 16px;
}

.icon{
     display: flex;
     align-items: center;
     gap: 30px;
}


 .listing {
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     max-width: 400px;
     width: 100%;
 }
 
 .image img {
     width: 100%;
     height: auto;
 }
 
 .details {
     padding: 16px;
 }
 
 .details h1 {
     margin-top: 0;
     font-size: 24px;
     color: #333;
 }
 
 .details p {
     margin: 4px 0;
     color: #777;
 }
 
 .details ul {
     list-style: none;
     padding: 0;
 }
 
 .details ul li {
     display: inline;
 }
>>>>>>> 8977a89dcbbae6996d87deab981ae74656768a82
