*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     list-style: none;
}

.container{
<<<<<<< HEAD
     width:1100px;
     margin: 0 auto;
     padding: 30px 0;
}
=======
     width: 1200px;
     margin: 0 auto;
}

>>>>>>> 8977a89dcbbae6996d87deab981ae74656768a82


